/* ================================== Create Post ================================ */

.new-post-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.ql-editor{
    display: block;
    width: 100%;
    height: 10rem; 
    background-color: var(--color-white);
    overflow: scroll;
} 
