/* ================================== Register Page =================================== */
.form-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
  width: 80%;
  background-color: var(--color-bg);
}

.form-page form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin: 2rem 0;
}

.form-page p a {
  color: var(--color-red);
}
